* {
  margin: 0;
  padding: 0;
  color: white;
  overflow-x: hidden;
}
body,
input {
  background-color: black;
}
#response {
  display: flex;
  flex-direction: column;
}
.username b {
  color: rgb(17, 128, 17);
}
.tinted {
  color: rgb(32, 207, 207);
}
.discord a {
  white-space: pre;
  color: white;
  text-decoration: none;
}
#input {
  height: 30px;
  width: 90vw;
  font-size: 16px;
  border: none;
  outline: none;
}
span {
  white-space: pre;
}
.logo {
  margin: 0 auto 0 25%;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
.information {
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
